{% extends 'mailings/index.html' %}

{% block mailing_menu %}
    {% include 'mailings/includes/inc_mailing_menu.html' %}
{% endblock %}

{% block content %}

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">{{ title }}</h1>
    </div>

    <div class="container">
        <div class="col-auto">
            <a href="{% url 'mailings:create_client' %}" type="button" class="btn btn-lg btn-block
            btn-outline-primary">Добавить клиента</a>
        </div>
        <div class="row">
            {% for object in object_list %}
                <div class="col-6">
                    <div class="card mb-4 box-shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">{{ object.email }}</h4>
                            <div class="card-body">
                                <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                                    <li>ФИО - {{ object.lastname }} {{ object.Firstname }} {{ object.Patronymic }}</li>
                                </ul>
                                <a href="{% url 'mailings:client_view' object.pk %}" type="button"
                                   class="btn btn-lg btn-block btn-outline-primary">Посмотреть</a>

                                <a href="{% url 'mailings:edit_client' object.pk %}" type="button"
                                   class="btn btn-lg btn-block btn-outline-primary">редактировать</a>

                                <a href="{% url 'mailings:delete_client' object.pk %}" type="button"
                                   class="btn btn-lg btn-block btn-outline-danger">Удалить</a>

                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>

{% endblock %}