{% extends 'mailings/index.html' %}
{% block mailing_menu %}
    {% include 'mailings/includes/inc_mailing_menu.html' %}
{% endblock %}

{% block content %}

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">{{ title }}</h1>
    </div>
    <div class="container">
        <div class="col-auto">
            <a href="{% url 'mailings:create_newsletter' %}" type="button" class="btn btn-lg btn-block
            btn-outline-primary">Создать рассылку</a>
        </div>
        <div class="row">
            {% for object in object_list %}
                <div class="col-6">
                    <div class="card mb-4 box-shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">{{ object.message.topic }}</h4>
                            <div class="card-body">
                                <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                                    <li>Статус - {{ object.status }}</li>
                                    <li>Дата первой отправки - {{ object.date_time_start }}</li>
                                    <li>Дата окончания отправки - {{ object.date_time_end }}</li>
                                    <li>Периодичность отправки - {{ object.period }}</li>
                                </ul>
                                <a href="{% url 'mailings:view_newsletter' object.pk %}" type="button"
                                   class="btn btn-lg btn-block btn-outline-primary">Посмотреть</a>

                                <a href="{% url 'mailings:edit_newsletter' object.pk %}" type="button"
                                   class="btn btn-lg btn-block btn-outline-primary">редактировать</a>

                                <a href="{% url 'mailings:delete_newsletter' object.pk %}" type="button"
                                   class="btn btn-lg btn-block btn-outline-danger">Удалить</a>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}
{#            {% if perms.mailings.can_view_any_mailings %}#}
                <form method="get" action="#">
                    <h1>---------------</h1>
                    <h1> {{ user.perms.auth.can_disable_mailings }}</h1>
                    <h1>---------------</h1>
                </form>
{#            {% endif %}#}
        </div>
    </div>

{% endblock %}