{% extends 'mailings/index.html' %}

{% block content %}

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">{{ newsletter.message.topic }}</h1>
        <p class="lead"></p>
    </div>
    <div class="container">
        <div class="row row-cols-1 row-cols text-center">
            <div class="col-6">
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">{{ newsletter.message.text }}</h1>
                        <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                            Начало рассылки - {{ newsletter.date_time_start }}
                        </ul>
                        <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                            Окончание рассылки - {{ newsletter.date_time_end }}
                        </ul>
                        <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                            Периодичность - {{ newsletter.period }}
                        </ul>
                        <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                            Статус рассылки - {{ newsletter.status }}
                        </ul>
                        <a class="btn btn-lg btn-block btn-primary mb-5"
                           href="{% url 'mailings:newsletter_list' %}">Назад</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
